<%# Ajax for comments on posts %>
<% @comments_spliced = [] %>
<% splice_comments(@comments, @comments_spliced) %>
<div class='comments_top'>
 <%# Render each comment for this post %>
 <% @comments_spliced.each do |comment| %>
   <div class="panel panel-default comments">
   	 <%# Add comments color css %>
     <div class="panel-body <%= 'comment' + comment[-1] %>" style="word-wrap: break-word;">
     	<%# Put comment pieces together excluding IP %>
     	<% comment[0..-2].each do |piece| %>
		<%= piece %>
		<% end %>
     </div>
   </div>
 <% end %>
</div>


 <%# Render a comment form for this post %>
 <%= form_for :comment, remote:true, url: post_comments_path(post_id:request.path.scan(/\d/).join('')) do |f| %>
 		<%= f.hidden_field :ip, :value => request.remote_ip.split('.').join().to_i %>
		<%= f.hidden_field :post_id, :value => request.path.scan(/\d/).join('') %>
	<%= f.text_area :text, :class => "comment_box", :placeholder => "Free your mind's response..." %>
		<div class='comment_button_padding'>
	<%= f.submit 'Let it go!', :class => 'comment_button btn btn-default'%>
	</div>
 <% end %>
