<%# Ajax for comments on posts %>
<% @comments_spliced = [] %>
<% @comments.each do |comment| %>
<%   comment_spliced = comment.text.split %>
<%   comment_spliced.map! do |piece| %>
	   <%# Map in URL link %>
<%     if piece.starts_with?('www.','http://','https://') %>
<%       link_to(piece, piece, target: '_blank') %>
	   <%# Map regular string piece back to string %>
<%     else %>
<%       piece %>
<%     end %>
<%   end %>
<%   @comments_spliced.append(comment_spliced) %>
<% end %>
<div class='comments_top'>
 <%# Render each comment for this post %>
 <% @comments_spliced.each do |comment| %>
   <div class="panel panel-default comments">
     <div class="panel-body" style="word-wrap: break-word;">
     	<%# Put comment pieces together %>
     	<% comment.each do |piece| %>
		<%= piece %>
		<% end %>
     </div>
   </div>
 <% end %>
</div>


 <%# Render a comment form for this post %>
 <%= form_for :comment, remote:true, url: post_comments_path(post_id:request.path.scan(/\d/).join('')) do |f| %>
 		<%= f.hidden_field :ip, :value => request.remote_ip.split('.').join().to_i %>
		<%= f.hidden_field :post_id, :value => request.path.scan(/\d/).join('') %>
	<%= f.text_area :text, :class => "comment_box", :placeholder => "Free your mind's response..." %>
		<div class='comment_button_padding'>
	<%= f.submit 'Let it go!', :class => 'comment_button btn btn-default'%>
	</div>
 <% end %>
