<div class="wrapper">
  <div class="box">
    <div class="column col-sm-12 col-xs-12" id="main">

      <%# Render Top Navigation Bar and Contents %>
      <%= render 'welcome/top_nav' %>

      <div class="panel panel-default post_external">
        <div class="panel-body panel_body_text" style="word-wrap: break-word;">

          <div class="<%= 'post_color' + post_pieces[-2].to_s  %> post_color_tag">
            <div class="post_color_tag"></div>
          </div>

      		<% @post_spliced[0][0..-2].each do |piece| %>
      			<%= piece %>
      		<% end %>

      		<div id="<%= 'post' + @request_pieces[2].to_s %>"></div>
       	</div>

      	<%# Comments Ajax Link %>
      	<div class='comments_load_box panel-footer'>
      	 <%= link_to content_tag(:span, @comments.where(post_id:@request_pieces[2]).length.to_s + ' Response(s)'), '/posts/' + @request_pieces[2].to_s, remote: true, :class => 'comments_load' %>
      	</div>
      </div>


    </div>
  </div>
</div>


