<%# For each each spliced apost made of pieces (text and hashtags) %>
<% @aposts_spliced.reverse.each do |apost_pieces| %>
  <div class="panel panel-default">
    <div class="panel-body" style="word-wrap: break-word;">

     <%# Build post from pieces (text and hashtags) %>		
	 <% apost_pieces[0..-2].each do |piece| %>
	 	<%= piece %>
	 <% end %> 

	 <%# Render a comment form for this post %>
	 <%= form_for :comment, url: post_comments_path(post_id:apost_pieces[-1]) do |f| %>
			<%= f.hidden_field :post_id, :value => apost_pieces[-1] %>
		<%= f.text_area :text, :class => "comment_box", :placeholder => "Free your mind..." %>
			<div class='comment_button_padding'>
		<%= f.submit 'Let it go!', :class => 'comment_button btn btn-default'%>
		</div>
	 <% end %>

	 <%# Comments Ajax Link %>
	 <%= link_to @comments.where(post_id:apost_pieces[-1]).length.to_s + ' Comments', '/posts/' + 
	 	apost_pieces[-1].to_s, remote: true %>

 	 <%# Render Post Comments Asynchronously to Post's Stream on Click %>
 	 <div id="<%= 'post' + apost_pieces[-1].to_s %>"></div>

    </div>
  </div>
<% end %>